.header {


    text-align: center;
    font-size: 45px;
  
}

.box {
    height: 40px;


    background-color: blue;
    color: white;
   


}

.left {
    display: inline-block;

    width: 15%;
    background-color: inherit;

    text-align: center;
}

.center {
    display: inline-block;

    width: 60%;
    background-color: inherit;

    text-align: center;
}

.right {
    display: inline-block;

    width: 15%;
    background-color: inherit;

    text-align: right;
}




.header1 {
    text-align: center;
    font-size: 30px;

}



.box1 {
    display: inline-block;
    width: 31%;
}

.coupon {
    border: dotted;
    text-align: center;
    height: 150px;
}

.box2 {
    
    width: 34%;
    height: 450px;
    display: inline-block;
}

.box3 {
    margin-top: 0px;
    
   height: 450px;
    width: 34%;
    display: inline-block;
}
.header3{
    color: red;
}
.name{
    font-weight: bold;
    text-align: center;
}